<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>channels</key>
			<array>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#yomama</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#luckylizard</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#discoduck</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#fsck</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#loop</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#supersecret</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#secretroom</string>
				</dict>
			</array>
			<key>protocol</key>
			<string>irc</string>
			<key>serverName</key>
			<string>XMission IRC</string>
			<key>serverURI</key>
			<string>irc.xmission.com</string>
			<key>status</key>
			<string>away</string>
			<key>userId</key>
			<string>trane</string>
		</dict>
		<dict>
			<key>channels</key>
			<array>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#supersecret</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#secretroom</string>
				</dict>
			</array>
			<key>protocol</key>
			<string>irc</string>
			<key>serverName</key>
			<string>Quakenet</string>
			<key>serverURI</key>
			<string>irc.quakenet.com</string>
			<key>status</key>
			<string>away</string>
			<key>userId</key>
			<string>mrmuggles</string>
		</dict>
		<dict>
			<key>channels</key>
			<array>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#yomama</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#luckylizard</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#discoduck</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#fsck</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#loop</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#supersecret</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>#secretroom</string>
				</dict>
			</array>
			<key>protocol</key>
			<string>irc</string>
			<key>serverName</key>
			<string>XMission IRC</string>
			<key>serverURI</key>
			<string>irc.xmission.com</string>
			<key>status</key>
			<string>away</string>
			<key>userId</key>
			<string>trane</string>
		</dict>
		<dict>
			<key>channels</key>
			<array>
				<dict>
					<key>avatar</key>
					<string></string>
					<key>name</key>
					<string>landogbland@gmail.com</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string>/path/to/avatar</string>
					<key>name</key>
					<string>colton.myers@gmail.com</string>
				</dict>
			</array>
			<key>protocol</key>
			<string>jabber</string>
			<key>serverName</key>
			<string>Google Talk</string>
			<key>serverURI</key>
			<string>talk.google.com</string>
			<key>status</key>
			<string>available</string>
			<key>userId</key>
			<string>andrew.kuhnhausen@gmail.com</string>
		</dict>
	</array>
</dict>
</plist>
